* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul.menu {
    background-color: rgb(74, 74, 74);
    height: 50px;
    width: 180px;
    
}
ul.menu li a {
    color: black;
    text-align: center;
     margin: auto;
   
    
    
}
ul.menu ul {
    background:rgb(228, 223, 223);
    width: 200px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    opacity: 0;
    transition: 250;
    color: ;
}
ul.menu ul li a {
    display: block;
    padding: 7px;
    color: fff;
    font-size: 14px;
    color: black;
}
ul.menu >li:hover ul {
    display: block;
    opacity: 1;
}