* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 80vh;
    width: 60vw;
    margin: auto;
}
p {
    font-size: 1.5rem;
    text-align: center;
}
header {
    background-color: red;
    height: 15vh;
    color: white;
    padding: 30px;
}
nav {
    background-color: blue;
    height: 5vh;
    outline: 3px  solid white;
    /* outline-offset: 3px; */
}
aside {
    background-color: yellow;
    float: left;
    height: 40vh;
    width: 25%;
    padding: 60px;
}
main {
    background-color: gray;
    height: 40vh;
    width: 100%;
}
footer{
    background-color: #333;
    height: 15vh;
    padding: 30px;
}